html{
    font-family: 'Nunito', sans-serif !important;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

.view{
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

.bg-hero-img{
    background-image: url("../img/almaborealis-hero-reduce.jpg");
}

.hero-height{
    height: calc(100vh - 5rem);
}

.hero-box{
    animation: 1s ease-out 1 fadeIn;
}

.spacer{
    height: 5rem;
}

.highlight{
    font-family: 'Pangolin', cursive;
}

.cover-card{
    top: 72.5%;
    left: 5%;
    right: 5%;
}

.hover-card{
    transition: all ease-in-out 0.2s;
}

/* CONFIGURATOR */

.prod-img img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.prod-detail{
    flex: 1 1 40%;
}

.selected::after{
    content: '';
    position: absolute;
    border-radius: 999999px;
    width: 1.75rem;
    height: 1.75rem;
    border: solid 2px white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuToggle{
    transition: all ease-in-out 0.4s;
}

#myBtn {
    bottom: 20px;
    right: 30px;
    z-index: 99;
    transition: all ease-in-out 0.3s;
}

.accordion {
    transition: 0.4s;
    
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  @media only screen and (max-width: 768px) {
    .spacer{
        height: 3.5rem;
    }

    .bg-hero-img{
        background-image: url("../img/almaborealis-hero-mobile.jpg");
    }

    .hero-height{
        height: calc(100vh - 3.5rem);
    }

    .prod-img{
        height: 500px;
        flex: 1 1 60%
    }

    .hover-card{
        opacity: 0 !important;
    }

    .cover-card {
        top: 67.5%;
    }
  }

  @media only screen and (max-width: 1024px) {

    /* CONFIGURATOR */


  }